Backup
Cache
Index
Local
*.cache
Packages/User/Package Control.last-run
Packages/User/Package Control.system-ca-bundle
Packages/User/FileHistory.json
Packages/User/FileHistory_*.json
Packages/User/encoding_cache.json